In [1]:
import pandas as pd

In [4]:
table_l = 'L.csv'

dfl = pd.read_csv(table_l)
dfl.head()

,A_id,B_id,_id_l,name_l,duration_l,genre_l,release_date_l,directors_l,stars_l,Up_System_l,_id_r,name_r,duration_r,genre_r,release_date_r,directors_r,stars_r,Up_System_r,label
0,823,663,823,Jumanji (1995) (DVD),104 min,Action & Adventure,NaN,Joe Johnston,"Bradley Pierce, Adam Hann-Byrd, Kirsten Dunst,...",CM,663,Jumanji (1995),1h 44min,"Fantasy, Comedy, Adventure, Family",15 December 1995 (USA),Joe Johnston,"Robin Williams, Kirsten Dunst, Bonnie Hunt",CM,1
1,977,231,977,The Last Starfighter (DVD),101 min,Horror,8/18/09,"Nick Castle, Jr.","Catherine Mary Stewart, Dan O'Herlihy, Robert ...",CM,231,The Last O.G.,30min,Comedy,TV Series (2018 ),,"Allen Maldonado, Tiffany Haddish, Taylor Mosby",CM,0
2,2622,2009,2622,The Jungle Book (DVD),106 min,"Kids & Family, Action & Adventure, Anime & Ani...",8/30/16,Jon Favreau,"Neel Sethi, Bill Murray, Ben Kingsley, Idris E...",CM,2009,The Jungle Book (1967),1h 18min,"Animation, Adventure, Family, Musical",18 October 1967 (USA),Wolfgang Reitherman,"Phil Harris, Sebastian Cabot, Louis Prima",CM,0
3,2710,25,2710,Ace Ventura: Pet Detective & When Nature Calls...,180 min,Sci-Fi & Fantasy,NaN,"Steve Oedekerk, Tom Shadyac","Jim Carrey, Courteney Cox, Dan Marino, Sean Young",CM,25,Ace Ventura: Pet Detective (1994),1h 26min,Comedy,4 February 1994 (USA),Tom Shadyac,"Jim Carrey, Courteney Cox, Sean Young",CM,1
4,262,1277,262,The Hunger Games: Mockingjay Part 2 (DVD),113 min,"Drama, Action & Adventure",3/22/16,Francis Lawrence,"Liam Hemsworth, Josh Hutcherson, Jennifer Lawr...",CM,1277,The Hunger Games: Mockingjay - Part 1 (2014),2h 3min,"Action, Adventure, Thriller, Sci-Fi",21 November 2014 (USA),Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",CM,0

In [5]:
l_label = dfl[['A_id', 'B_id', 'label']]
l_label.head()

   A_id  B_id  label
0   823   663      1
1   977   231      0
2  2622  2009      0
3  2710    25      1
4   262  1277      0

In [6]:
l_label.to_csv('labeled_L.csv', index=0)